/*=============================
Sommario:
1. Stili generali
2. Tipografia
3. Layout
4. Stilizzazione componenti
    - TABELLA
    - COPERTINE ARTICOLI CONSIGLIATI
=============================*/

/*----------- 1. tili generali -----------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header,
main {
  padding: 10px;
}

/*----------- 2. Tipografia -----------*/

h1 {
  font-size: 40px;
}

.autore,
.data_pubblicazione,
.titolo_consigliati {
  color: grey;
}

.autore {
  font-size: 18px;
}

.data_pubblicazione,
figcaption {
  font-size: 13px;
}

.paragrafo_articolo,
ul {
  font-size: 15px;
}

.evidenziato {
  background: yellow;
}

.consigliato,
thead {
  font-weight: bold;
  color: white;
}

thead {
  text-align: left;
}

tbody {
  font-weight: 500;
}

/*----------- 3. Layout -----------*/

header {
  background: rgba(78, 160, 255, 255);
  background-image: url(../img/pattern.png);
  background-size: 380px;
  height: 95px;
}

#logo {
  height: 60%;
  margin-top: 30px;
}

.data_pubblicazione {
  margin-bottom: 25px;
}

.paragrafo_articolo,
ul,
table,
.consigliato {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.sezione_consigliati {
  margin-top: 25px;
}

/*--------- 4. Stilizzazione componenti ---------*/

/*TABELLA*/
table,
th,
td {
  border-collapse: collapse;
  border: none;
}

thead {
  background: cornflowerblue;
}

.riga_colorata {
  background: lightblue;
}

.stretta {
  width: 25%;
}

/*COPERTINE ARTICOLI CONSIGLIATI*/
.consigliato {
  height: 150px;
  width: 250px;
  padding: 10px;
}

#consigliato_1 {
  background-image: url(../img/monitor.jpg);
}

#consigliato_2 {
  background-image: url(../img/graph.jpg);
}
